# Python cache and temp files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env/
env/
venv/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
